.Main_container{
    background-color: #F3E7EB;
    border-radius: 25px;
    margin: 10vh 20vw;
    height: 80vh;
    width: 60vw;
    display: flex;
    flex-direction: row;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    
}

.Left_box{
    background-color: #F7D6CD;
    height: 100%;
    width: 51%;
    margin-left: 0.75%;
    text-align: center;
     
    border-radius: 25px;
    
}

.Right_box{
    display: block;
    text-align: center;
    height: 100%;
    width: 45%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 10px;
}

body{
    background-color: #C0DBEA;
}

.cuddle{
    padding-bottom: 0;
    font-family: 'Great Vibes', cursive;
    color: #7A373A;
    font-size: 400%;
    margin-bottom: 0;
    
}

img{
    width: 90%;
    max-width: 400px;
}

.slogan{
    color: #7A373A;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'Cookie', cursive;
    font-size: 145%;
    margin-top: 30px;
}

.Hello{
    font-family: 'Nunito Sans', sans-serif;
    color: #7A373A;
    margin-top: 15vh;
    font-weight: 600;
}

.Name{
    margin-top: 5vh;
    margin-bottom: 1vh;
    height: 6vh;
    width: 60%;
    padding-left: 10px;
    border-radius: 9px;
    border: 4px solid transparent;
}

.password{
    padding-left: 10px;
    margin-top: 1vh;
    margin-bottom: 5vh;
    height: 6vh;
    width: 60%;
    border-radius: 9px;
    border: 4px solid transparent;
    
}

::placeholder{
   color: #7A373A;
   opacity: 0.7;
   font-size: 12px;
   font-weight: 530;
   font-family: 'Nunito Sans', sans-serif;
}

.button{
    height: 6vh;
    background-color: #FB636B;
    width: 65%;
    color: white;
    border-radius: 9px;
    border: 4px solid transparent;
    margin-bottom: 20px;
    transition: background-color 0.2s ease-in-out;
}

.button:hover{
    background-color: #4F4557;
    cursor: pointer;
}
